<div style="width: 60%; margin: 40px auto; background-color: #c5ccc6; padding: 200px 0;">
	<h1 style="width: 50%; margin: 0 auto; text-align: center;">404 Page not Found!<br>
	Sorry we could not find <br>
	Find the file you were <br>
	Looking for :( </h1>
</div>