<div class="instrumentBody">
	<div class="instrumentContent">
		<a href="#"><div class="instrument1">
			<h3 class="instrumentTitle">Violin</h3>
			<img id="instrument1" src="img/violin.jfif">
			<p class="instrumentDesc">The violin, sometimes known as a fiddle, is a wooden chordophone (string instrument) in the violin family. Most violins have a hollow wooden body. Click for more details.</p>
		</div>
	</a>

	<a href="#"><div class="instrument2">
			<h3 class="instrumentTitle">Madal</h3>
			<img id="instrument2" src="img/madal.jfif">
			<p class="instrumentDesc">The madal is a folk musical instrument of Nepal. The madal is used mainly for rhythm-keeping in Nepalese folk music. It is very popular and widely used as hand drum in Nepal. Click for more details.</p>
		</div>
	</a>

	<a href="#"><div class="instrument3">
			<h3 class="instrumentTitle">Trumpet</h3>
			<img id="instrument3" src="img/trumpet.png">
			<p class="instrumentDesc">The trumpet is a brass instrument commonly used in classical and jazz ensembles. Click for more details.</p>
		</div>
	</a>
	</div>
</div>