<!DOCTYPE html>
<html>
<head>
	<link href="css/layouts.css" rel="stylesheet" type="text/css">
	<link href="css/index.css" rel="stylesheet" type="text/css">
	<link href="css/room.css" rel="stylesheet" type="text/css">
	<link href="css/instruments.css" rel="stylesheet" type="text/css">
	<link href="css/login.css" rel="stylesheet" type="text/css">
	<link href="css/signup.css" rel="stylesheet" type="text/css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Raleway:ital,wght@0,200;1,400&display=swap" rel="stylesheet">

	<title></title>
</head>
<body>
	<div class="header">
		<h1 class="title"><span id="sound">Sound</span> Strong</h1>
		<div class="navbar">
			<ul>
				<a class="navLinks" href="/"><li>Home</li></a>
				<a class="navLinks" href="/rooms"><li>Rooms</li></a>
				<a class="navLinks" href="/instruments"><li>Instruments</li></a>
				<a class="navLinks" href="/#contact"><li>Contact</li></a>
				<div class="forForm">
					<a href="/login" class="formLinks" id="Login"><li>LogIn</li></a>
					<a href="/signup" class="formLinks" id="SignUp"><li id="forTransform">SignUp</li></a>
				</div>
			</ul>
		</div>
	</div>
	<%- body%>
	<div class="footer">
		<div class="footerContent">
			<div class="content1">
				<h3>Sound Strong</h3>
			</div>
			<div class="content2">
				<p>About</p>
				<p>Lorem ipsum really<br>
				good website build on node js</p>
			</div>
			<div class="content3">
				<p>Contact</p>
				<p>Lorem Ipsum gajgajg<br> 
				galgkga glakjglj contact page<br>
					is not here</p>
			</div>
		</div>
		<p class="copyright">Copyright and trademark notice</p>
		
	</div>
	<script src="script/index.js"></script>
</body>
</html>