<form class="loginForm"  id="login" method="post">
			<h3 class="loginUs">Sound Strong LogIn</h3>
 			<div class="loginName">
    			<label for="name">UserName:</label>
				<input type="text" id="loginName" name="user_name">
  			</div>
  			<div class="loginPassword">
    			<label for="mail">Password:</label>
    			<input type="Password" id="loginPassword" name="user_email">
  			</div>
    		<div class="loginBtn">
    			<button id="loginBtn">LogIn</button>
    		</div>
        <div class="signupLink">
          <p class="signupLinkP">Do not have an account? </p>
          <a href="/signup">Register</a>
        </div>
        
</form>