<div style="width: 20%; margin: 40px auto;">
		<% users.forEach(s =>{%>
		<div style="border: solid 2px tomato; border-radius: 10px; padding: 20px 0; margin: 10px 0;">
			<p style="text-align: center;"><%= s.name%></p>
			<p style="text-align: center;"><%= s.username%></p>
			<p style="text-align: center;"><%= s.password%></p>
			<p style="text-align: center;"><%= s.email%></p>
		</div>
		<%});%>
	
</div>