<div class="roomBody">
	<div class="roomContent">
		<a href="#"><div class="room1">
			<h3 class="roomTitle">Room1</h3>
			<img id="room1" src="img/room1.jpg">
			<p class="roomDesc">This room is suitable for a small group. Click for more details.</p>
		</div>
	</a>

	<a href="#"><div class="room2">
			<h3 class="roomTitle">Room2</h3>
			<img id="room2" src="img/room2.jpg">
			<p class="roomDesc">This room is suitable for a large group. Click for more details.</p>
		</div>
	</a>


	<a href="#"><div class="room3">
			<h3 class="roomTitle">Room3</h3>
			<img id="room3" src="img/room3.jpg">
			<p class="roomDesc">This room is suitable for modern artists. Click for more details.</p>
		</div>
	</a>
	</div>
</div>