<form class="signupForm" action="/register"  id="signup" method="post">
			<h3 class="signupUs">Sound Strong signup</h3>
      <div class="signupFullName">
          <label class="signupLabel" for="name">Full Name:</label>
        <input type="text" id="signupFullName" name="full_name">
        </div>
 			<div class="signupName">
    			<label class="signupLabel" for="name">UserName:</label>
				<input type="text" id="signupName" name="user_name">
  			</div>
  			<div class="signupPassword">
    			<label class="signupLabel" for="mail">Password:</label>
    			<input type="Password" id="signupPassword" name="password">
  			</div>
        <div class="signupEmail">
          <label class="signupLabel" for="mail">Email:</label>
          <input type="Email" id="signupEmail" name="email">
        </div>
    		<div class="signupBtn">
    			<button id="signupBtn">signup</button>
    		</div>
        <div class="signupLink">
          <p class="signupLinkP">Already have an account? </p>
          <a href="/login">SignIn</a>
        </div>
        
</form>